<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionHistorialMedico"
        tools:targetApi="31">

        <!-- Login activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AplicacionHistorialMedico" />

        <!-- Medical data list activity -->
        <activity
            android:name=".MedicalDataListActivity"
            android:exported="true" />

        <!-- Add medical data activity -->
        <activity
            android:name=".AddMedicalDataActivity"
            android:exported="true" />

        <!-- Medical data form activity -->
        <activity
            android:name=".MedicalDataFormActivity"
            android:exported="true" />

    </application>

</manifest>